@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Poltawski+Nowy&display=swap');


.logo {
    width: 150px;
    margin: auto;
}

#logo_link {
    height: 150px;
    justify-self: center;
    align-self: center;
}

nav a {
    text-align: center;
    color: #161413;
    margin: 0 auto;
    padding: 50px;
    text-decoration: none;
    font-family:  "Poltawski Nowy", "Archivo", sans-serif;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #E1B533;
    width: 100%;
}

nav a:hover {
    background-color: #3A83B6;
    color: #E4E4E4;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr .5fr;
    position: relative;
}

.banner {
    z-index: -1;
    grid-column: 1/4;
    grid-row: 1/4;
}

#banner_img {
    width: 100%;
    margin: 10px auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E4E4E4;
    margin: 10px auto;
    padding: 25px;
    text-align: center;
    width: 100%;
}

.social {
    align-content: center;
}

#facebook_icon {
    width: 75px;
}

#twitter_icon {
    width: 75px;
}

#linkedin_icon {
    width: 75px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    grid-column: 2;
    grid-row: 2;
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    font-size: 24px;
    font-family:  "Poltawski Nowy", "Archivo", sans-serif;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 110%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #3A83B6;
    color: white;
    transform: rotateY(180deg);
  }

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: .25fr 1fr 1fr .25fr;
}

#can-do {
    grid-column: 2;
    grid-row: 2;
}

#can-do h1 {
    margin: 30px auto;
    font-size: 50px;
    font-family:  "Poltawski Nowy", "Archivo", sans-serif;
    text-shadow: 2px 2px gray;
    text-align: center;
}

#can-do p {
    margin: 20px auto;
    font-family: "Archivo", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#python-icon {
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    align-content: center;
    
}
#python-icon:hover, #html-icon:hover, #css-icon:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#html-icon {
    grid-column: 1;
    grid-row: 3;
    margin: auto;
    align-content: center;
}

#css-icon {
    grid-column: 3;
    grid-row: 3;
    margin: auto;
    align-content: center;
}