/* ======Fonts======= */

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Poltawski+Nowy&display=swap');

/* =====Global======= */
.logo {
    width: 150px;
    margin: auto;
}

#logo_link {
    height: 150px;
    justify-self: center;
    align-self: center;
}

nav a {
    text-align: center;
    color: #161413;
    margin: 0 auto;
    text-decoration: none;
    font-family:  "Poltawski Nowy", "Archivo", sans-serif;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f0be29;
    width: 100v;
    flex-wrap: wrap;
}

nav a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #3A83B6;
     
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E4E4E4;
    margin: auto;
    padding: 25px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#facebook_icon {
    width: 50px;
}

#twitter_icon {
    width: 50px;
}

#linkedin_icon {
    width: 50px;
}

/* Hamburger Menu */
#hamburger-nav {
    display: none;

}

.hamburger-menu {
    position: relative;
    display: inline-block;
    margin-right: 2.5rem;

}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #3A83B6;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    z-index: 1;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}
/* ========Home Page========= */

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr .5fr;
    position: relative;
    z-index: 0;
}

.banner {
    z-index: 0; 
    grid-column: 1/4;
    grid-row: 1/4;
}

#banner_img {
    width: 100%;
    height: 100%;
    margin: auto;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate 
that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    grid-column: 2;
    grid-row: 2;
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    font-size: 24px;
    font-family:  "Poltawski Nowy", "Archivo", sans-serif;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 110%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    object-fit: cover;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #3A83B6;
    color: white;
    transform: rotateY(180deg);
    height: 115%;
    display: flex;
    flex-direction: column;
  }


/* =========Skills Page============ */

.skills-grid {
    display: flex;
    flex-direction: column;
}

.skill-icons {
    display: flex;
    margin-bottom: 5rem;
}


#can-do h1 {
    margin: 25px auto;
    font-size: 50px;
    font-family:  "Poltawski Nowy", "Archivo", sans-serif;
    text-shadow: 2px 2px gray;
    text-align: center;
}

#can-do p {
    margin: 150px;
    font-family: "Archivo", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#python-icon {
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    align-content: center;
    
}
#python-icon:hover, #html-icon:hover, #css-icon:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#html-icon {
    grid-column: 1;
    grid-row: 3;
    margin: auto;
    align-content: center;
}

#css-icon {
    grid-column: 3;
    grid-row: 3;
    margin: auto;
    align-content: center;
}

/* ========Projects and Achievements Page======== */

/* Use flex instead of grid */
.p_and_a-grid {
    display: flex;
}


#what_i_did {
    padding-left: 100px;
    font-size: 50px;
    text-align: left;
}

#what_i_did h1 {
    text-transform: uppercase;
    font-family:  "Poltawski Nowy", "Archivo", sans-serif;
    background-image: linear-gradient(
        -225deg,
        #3A83B6 0%,
        #E1B533 33%,
        #161413 67%,
        silver 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
    }
    
    @keyframes textclip {
    to {
        background-position: 200% center;
    }

}

#achieve-img {
    height: 100%;
    width: 30rem;
}

#done-text {
    margin: auto 50px;
    font-family: "Archivo", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding: 20px 20px;
}


/* =======Media Screens====== */

@media screen and (max-width: 1200px) {
    .skill-icons {
        flex-direction: column;
    }
    #python-icon, #html-icon, #css-icon{
        margin-bottom: 20px;
    }
    .flip-card-front {
        max-width: 100%;
        height: auto;
    }
    .flip-card-back {
        position: relative;
    }
    .card-title {
        font-size: 24px;
    }
    .card-subtitle {
        font-size: 20px;
    }
    .card-text {
        font-size: 18px;
        margin: 10px;
    }
    #can-do h1 {
        margin: 25px auto;
    }
    #can-do p {
        margin: 30px auto;
    }
    #what_i_did {
        padding-left: 0px;
        text-align: center;
    }
    #what_i_did h1 {
        font-size: 55px;
    }
    #done-text {
        margin: auto 20px;
        font-size: 25px;
    }
    .social {
        gap: 1em;
    }
    #achieve-img {
        display: none;
    }

    /* Substituting for hamburger menu */
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}